/* food module style */
button {
  padding: 0.5em 1em;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

td, th {
  border: 1px solid #ccc;
  padding: 0.5em;
  text-align: center;
}
